.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    background-color: #302f2f;
    align-items: center;
    height: 64px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02), 0 5px 12px -6px rgba(0, 0, 0, 0.1), 0 -12px 25px -19px rgba(0, 0, 0, 0.2);
  }
  .logo-word {
    margin-left: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 90%;
  }
  .navigation-menu{
    margin-right: 0;
    margin-left: auto;
    height: 100%;
  }

  .navigation-dropdown {
    display: none;
    background-color: inherit;
    border: none;
    outline: none;
    box-shadow: none;
    margin-right: 1%;
    margin-left: auto;
    color: #ffffff;
  }
  
  .navigation-item {
    text-decoration: none;
    padding-right: 1vw;
    padding-left: 1vw;
    color:#ffffff;
    height: 100%;
    font-size: large;
    background-color: inherit;
    border: none;
    outline: none;
    box-shadow: none;
  }
  .navigation-item:hover {
    cursor: pointer;
    background-color: #3a3a3abe;
    border-radius: 2px;
    transition: background-color 0.5s;
  }
  .navigation-item:visited {
    color: inherit;
  }

  @media screen and (max-width: 600px) {
    .navigation-menu {
      display: none;
    }
    .navigation-dropdown {
      display: block;
    }
  }