.header {
    display: flex;
    width: 100%;
    background-color: #00000044;
    align-items: center;
    height: 64px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02), 0 5px 12px -6px rgba(0, 0, 0, 0.1), 0 -12px 25px -19px rgba(0, 0, 0, 0.2);
  }
  .logo {
    align-items: center;
    margin-left: 1vw;
    font-size: 80%;
  }
  .navigation{
    margin-right: 0;
    margin-left: auto;
  }
  
  .nav {
    justify-content: center;
    vertical-align: center;
    text-decoration: none;
    padding-right: 2vw;
    padding-left: 1vw;
    color:   
   #ffffff;
    text-align: center;
    font-size: large;
  }
  .nav:hover {
    cursor: pointer;
  }
  .nav:visited {
    color: rgb(255, 255, 255);
  }
  