.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App {
  background-color: #000000;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}
  /* background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }
  50% {
      background-position: 100% 0;
  }
} */